/* DISPLAY NONE BANK */
/* currently selected clear */
.privateChannels-oVe7HL .channel-1Shao0.selected-1-Z6gm .layout-1qmrhw:after {
background: none;
}
.privateChannels-oVe7HL .channel-1Shao0.selected-1-Z6gm .layout-1qmrhw:after {
animation: none;
}
/* little icon to show there's a presence */
.icon-Lupfh- {
display: none;
}
/* no description of DnD and invis with status picker */
.description-3Cwkxk {
display: none;
}
/* spotify display icon */
.theme-dark .newPopoutActivityStyles .spotifyIcon-2J9kSv{
  display: none;
}
/* edit banner pencil*/
.pencilIcon-z04-c5 {
  display: none;
}
/*set a server name and custom pfp */
.setIdentityLink-3lcnXW {
  display: none;
}
/* NO NITRO CHATBAR BUTTON */
.buttons-uaqb-5 > .button-38aScr > :not(.translateButton-DhP9x8) {display: none}
.privateChannels-oVe7HL .channel-1Shao0[href="/store"] {
display: none;
}
/* NO HELP BUTTON */
.iconWrapper-2awDjA[aria-label=Help] {
display: none;
} 
/* misc un-needed buttons */
[aria-label="Member List"], [aria-label ^= "Mute channel"], [aria-label ^= "Open GIF"] {
  display: none;
}
/* REMOVE INFO THING (remove this snippet if you have premium) */
.powercord-spotify .spotify-buttons{
  display: none
}
/* fuck off "you need 2fa" notice I know it damnit*/
.channelNotice-tO6Tus {
  display: none
}
/*Remove underline for when hovering over username in chat*/
.applicationName-19i3lP.clickable-31pE3P:hover, .commandName-1KhvGm.clickable-31pE3P:hover, .username-h_Y3Us.clickable-31pE3P:hover {
  text-decoration: none !important;
}
/* Channel Tabs, just keep the settings in settings eh? */
#channelTabs-settingsMenu {
  display: none;
}
/* Threads Spine */
.spine-29OFwR {
  display: none;
}