/* DMS */
/* friendos list */
.peopleColumn-1wMU14 {
    margin-right: 10px;
  }
  /* List of activites */
  .theme-dark .outer-2JOHae {
    background-color: var(--bubble-color);
    border-radius: 20px;
  }
  .theme-dark .inset-SbsSFp {
    border-radius: var(--bubble-radius-small);
  }
  .headerIcon-2ra-HY {
    display: none;
  }
  .nowPlayingColumn-1eCBCN {
    background-color: var(--bubble-color);
    border-radius: var(--bubble-radius-big);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  /* look for friends you don't have */
  .searchBarComponent-3N7dCG {
    border-radius: var(--bubble-radius-big) !important;
  }
  /* dm list */
  .privateChannels-oVe7HL {
    background-color: var(--bubble-color) !important;
    border-radius: var(--bubble-radius-big);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 5px;
  }

/* DM +friend list Stuph*/
.privateChannels-oVe7HL .channel-1Shao0.selected-1-Z6gm .layout-2DM8M {
    background-color: pink !important;
}
.privateChannels-oVe7HL .privateChannelsHeaderContainer-1UWASm .privateChannelRecipientsInviteButtonIcon-1ObKXK, .privateChannels-oVe7HL .privateChannelsHeaderContainer-1UWASm .privateChannelRecipientsInviteButtonIcon-1ObKXK:hover {
    color: #fff !important;
}
/* close button */
.closeIcon-1NwtbI {
    color: white;
}
/* activity name letters, make white like member list */
.activity-1KqKY2 strong {
    color: #fff;
}