/* CHANNEL SELECTED */
.wrapper-NhbLHG.modeSelected-3DmyhH {
    background-color: var(--channel-background-selected) !important;
    border-radius: var(--bubble-radius-small);
}

#app-mount .menu-1QACrS {
  width: var(--channels-width);
}