/* MEMBER LIST */
.membersWrap-3NUR2t .members-3WRCEx {
    background-color: var(--bubble-color) !important;
    border-radius: var(--bubble-radius-big);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 10px;
}