/* CHAT BACKGROUND */
.chatContent-3KubbW, .peopleColumn-1wMU14 {
  border-radius: var(--bubble-radius-big);
  background-color: var(--bubble-color) !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* message jump and unreads (in chat and channel list) */
.newMessagesBar-1hF-9G, .barButtonMain-2GIx4o, .barButtonBase-Sk2mdB, .unread-2wipsx, .mention-3XBnnZ {
  background-color: var(--url-color);
  backdrop-filter: brightness(80%);
  border-radius: var(--bubble-radius-big);
  margin-top: 0px;
  margin-left: -8px;
  margin-right: -8px;
}
.unreadBar-elBRZx:before, .unreadBar-elBRZx:after {
  display: none;
}
  
/* auto complete chatbar */
.autocomplete-3NRXG8 .autocompleteInner-y1mjDl {
  background-color: var(--bubble-color);
  border-radius: var(--bubble-radius-big);
  backdrop-filter: brightness(50%);
}
.autocomplete-3NRXG8 .selected-3H3-RC {
  background-color: var(--bubble-color) !important;
  border-radius: var(--bubble-radius-small);
  margin-right: 10px;
  margin-left: 10px;
}

/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled-1p2fQv > div {
  display: none
}

/* JUMP TO PRESENT BAR */
.jumpToPresentBar-1cEnH0, .jumpToPresentBar-1cEnH0:hover, .barBase-3xxDXu {
  background: var(--bubble-color);
  border-radius: var(--bubble-radius-small);
  margin-bottom: 3px;
}

/* Chat bar clear, or whatever... */
.channelTextArea-1VQBuV, .scrollableContainer-15eg7h {
  background-color: var(--chatbar-color);
}
.channelTextArea-1VQBuV .textArea-2CLwUE .placeholder-1_mJY1 {
  display: none;
}

/* START OF CHAT GREETING (Welcome to #general) */
.container-1yy5xN{
  background-color: var(--bubble-color);
  border-radius: var(--bubble-radius-big);
  padding: 3%;
}
.container-1yy5xN .description-22d6ux {
  display: none;
}

/* CORRECT THE AUTO QUOTER */
#a11y-hack .rq-inline {
  background: var(--bubble-color) !important;
}
.rq-error {
  display: none;
}