/* CHANNEL HEADER */
#app-mount .sidebar-1tnWFu {
  background: none;
}
.title-31SJ6t, .base-2jDfDU .container-ZMc96U {
  background-color: var(--bubble-color) !important;
  border-radius: var(--bubble-radius-big);
  position: relative !important;
  margin-left: 15px !important;
  margin-top: 10px;
  left: 0px !important;
  width: calc(100% - 27px);
}
.searchBar-zdmu7v {
  border-radius: 15px !important;
}
.iconWrapper-2awDjA, .clickable-ZD7xvu {
  background-color: none;
}
  
/* inbox */
.container-2ebMPP {
  background-color: var(--bubble-color);
  backdrop-filter: brightness(50%);
}
  
/* pins */
.layer-2aCOJ3 .messagesPopout-eVzQcI [class="avatar-2e8lTP"], .layer-2aCOJ3 .messagesPopout-eVzQcI .header-2jRmjb {
  display: none;
}

  /* CHANGE BUTTONS COLOR */
.icon-GhnIRB, .icon-2xnN2Y {
  color: var(--bubble-color);
  filter: invert(20%);
}

/* Title hashtag/waving dude/at sign symbol */
.container-ZMc96U .children-3xh0VB .icon-2xnN2Y {
  color: rgba(255, 255, 255, 0.672);
}

/* ONLY SHOW SEARCH ON HOVER */
.search-1FM8Qc:not(.open-3y3yI_) .searchBar-zdmu7v { width: 27px; transition: 0.25s; background-color: transparent;}
.search-1FM8Qc:not(.open-3y3yI_):hover .searchBar-zdmu7v { width: 140px; transition: 0.25s;}
.search-1FM8Qc:not(.open-3y3yI_) .iconContainer-1RqWJj { transform: scale(1.2); transition: 0.25s;}
.search-1FM8Qc:not(.open-3y3yI_):hover .iconContainer-1RqWJj { transform: scale(1); transition: 0.25s;}