/* USER MODAL */
/* Compact Expanded Popouts - Leeprky#2063# */
.theme-dark .root-g14mjS .body-1Ukv50,.topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU,.tabBarItem-30Te4-{display:table;margin-bottom:15px;font-size:16px;margin-left:8px}
.theme-dark .root-g14mjS .tabBarContainer-sCZC4w{margin-top:150px}
.nameTag-2Nlmsy{top:80px;left:20px}
.top-K_jibn .item-3XjbnG,.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,.top-K_jibn .themed-2-lozF.item-3XjbnG:active{border-bottom-color:transparent;border-bottom:transparent;top:-50px}
.body-1Ukv50{position:absolute;background-color:transparent;left:250px;top:30px;height:350px;width:400px}
.profileBannerPremium-KD60EB{width:700px;height:475px;top:0;height:480px;background-position:center;background-size:cover;opacity:var(--user-modal-banner-opacity);position:absolute;filter:var(--user-modal-banner-blur)}
.profileBanner-1owKI5, .customStatusText-_4TbWr,.actionButton-iarQTd,.badgeList-2aoHPw,.banner-1YaD3N:hover .premiumIconWrapper-32h0Ri{display:none}
.actionsProfile-31n1ca{position:absolute;margin-top:150px;margin-left:-0}
.userInfoSection-2u2hir+.userInfoSection-2u2hir,.tabBarContainer-sCZC4w{border: none;}
.userProfileActivity-sal5no{width:360px;margin-bottom:30px}
.note-3M15gE textarea{margin-bottom:5px}
.relationshipButtons-3ByBpj{bottom:12px!important;left:-35px;transform:scale(1.2);position:relative}
.avatar-3QF_VA{transform:scale(0.8);left:20px;margin-top:20px}
.root-g14mjS{width:700px;height:475px}
.body-1Ukv50,.topSection-13QKHs{min-height:400px;}
.theme-dark .root-g14mjS{border-radius: 16px;}
.root-8LYsGj > .body-1Ukv50 {background-color: transparent !important;}
.root-8LYsGj > .topSection-13QKHs{background: none;}
.tabBar-2hXqzU > .item-3XjbnG + .item-3XjbnG{margin-left: 0px !important;}

  /* gridding and making common friends/guilds cool */
.root-8LYsGj .body-1Ukv50 .listScroller-entkMk {
    padding-left: 10px;
    margin-bottom: 15px !important;
}
.root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 {
  display:inline-table;
}
.root-8LYsGj .listScroller-entkMk .mask-1FEkla.svg-2azL_l, .listRow-2nO1T6 .listAvatar-2bU5Uh.wrapper-1VLyxH {
  width: calc(var(--user-modal-avatar-size) * 1/3) !important;
  height: calc(var(--user-modal-avatar-size) * 1/3) !important;
}
.root-8LYsGj .listScroller-entkMk .listRow-2nO1T6 .iconSizeMedium-2vzSua {
  width: calc(var(--user-modal-avatar-size) * 1/4) !important;
  height: calc(var(--user-modal-avatar-size) * 1/4) !important;
}
.root-8LYsGj .listScroller-entkMk .listName-PwbeHL, .root-8LYsGj .listScroller-entkMk .listRowContent-PEmSWj{
  display: none;
}
.listRow-2nO1T6:hover {
  background: transparent !important;
}
/* button thing */
.connectedAccountOpenIcon-1yfBsb {
  color: var(--url-color) !important;
  opacity: .5;
}

/* Buttons */
.actionButton-3-B2x-, .actionButton-3-B2x-.highlight-3DSi7b {
  border-radius: var(--bubble-radius-small);
}