/* partial credits to mr_miner#6969 */

.headerTop-3GPUSF, .rolesList-3uZoaa, .headerTextNormal-Z8we9g, .customStatus-3XAoF9, .aboutMeTitle-3pjiS7{
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-ahVUaC{
  position: absolute;
  left: 35%;
}
.profileBadges-2pItdR{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.userPopout-2j1gM4 .input-2g-os5, .aboutMeSection-PUghFQ, .bodyTitle-2Az3VQ, .textarea-_59yqs, .marginBottom8-emkd0_.size14-3fJ-ot, .colorStandard-21JIj7.marginBottom8-emkd0_{
  text-align: center;
}
.userPopout-2j1gM4 .aboutMeBody-1J8rhz {
  overflow-y: scroll;
  width: auto !important;
}
.rolesList-3uZoaa .role-2TIOKu.alignCenter-14kD11 {
  width: 110%;
  padding: 0px;
  justify-content: center;
  border-radius: var(--bubble-radius-big) !important;
}
.role-2TIOKu > .roleCircle-1EgnFN:after{
  border-radius: var(--bubble-radius-big);
}
.roleCircle-1EgnFN {
  color: #000 !important;
  align-items: center !important;
  -webkit-box-align: center !important;
}

/* make bubbles */
.userPopout-2j1gM4 .aboutMeBody-1J8rhz, .userPopout-2j1gM4 .rolesList-3uZoaa, .userPopout-2j1gM4 .activity-1gTu-L > div:not(.buttonsWrapper-2ARRp1), .userPopout-2j1gM4 .marginBottom8-emkd0_.size14-3fJ-ot, .userPopout-2j1gM4 .colorStandard-21JIj7.marginBottom8-emkd0_{
  background-color: var(--bubble-color) !important;
  backdrop-filter: brightness(150%);
  border-radius: var(--bubble-radius-small);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
  margin-right: 6px;
  padding-bottom: 3px;
  width: auto !important;
}
.userPopout-2j1gM4 .base-21yXnu.muted-eZM05q, .userPopout-2j1gM4 .activity-1gTu-L .headerTextNormal-Z8we9g {
  background-color: var(--bubble-color);
  border-top-left-radius: var(--bubble-radius-small);
  border-top-right-radius: var(--bubble-radius-small);
  margin-bottom: 0px !important;
  margin-right: 6px;
}

.userPopout-2j1gM4 .note-Go5ZP2 {
  margin-right: 6px !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
}


@keyframes rainbow-banner {
  0% {background-position: 0 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0 82%}
}

/* progress bar color for spotify */
.barInner-3dHef4 {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow-banner 12s ease infinite;
}



.userPopout-2j1gM4 .avatarHint-k7pYop {
  display: none;
}
.userPopout-2j1gM4 .divider-1wtgZ3 {
  display: none;
}