/*Change topmost watermark, I can't share it with this changed, customize it yourself personally*/
.typeWindows-2-g3UY>.wordmark-2u86JB:before {
    content: var(--watermark-override);
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    text-shadow: 0 0 3px #000;
}
.typeWindows-2-g3UY>.wordmark-2u86JB:after {
  display: none;
}
.typeWindows-2-g3UY > .wordmark-2u86JB > svg {
  display: none;
}